<a href="https://colab.research.google.com/github/Sinethemba-nongqoto/Research-project/blob/master/notebooks/exploratory_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries
---
1. **Data Manipulation**
- Pandas, numpy
2. **Data Visualization**
- Matplotlib, seaborn

In [1]:
import pandas as pd
import numpy as np

# Load Data
---
- Features
- Sales
- Stores

In [2]:
FEATURES_URL= "https://raw.githubusercontent.com/Sinethemba-nongqoto/Research-project/master/data/Features%20data%20set.csv"
SALES_URL ="https://raw.githubusercontent.com/Sinethemba-nongqoto/Research-project/master/data/sales%20data-set.csv"
STORES_URL = "https://raw.githubusercontent.com/Sinethemba-nongqoto/Research-project/master/data/stores%20data-set.csv"

In [6]:
features_df =pd.read_csv (FEATURES_URL)
sales_df =pd.read_csv (SALES_URL)
stores_df =pd.read_csv (STORES_URL)

In [5]:
features_df.head()

   Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0      1  05/02/2010        42.31  ...  211.096358         8.106      False
1      1  12/02/2010        38.51  ...  211.242170         8.106       True
2      1  19/02/2010        39.93  ...  211.289143         8.106      False
3      1  26/02/2010        46.63  ...  211.319643         8.106      False
4      1  05/03/2010        46.50  ...  211.350143         8.106      False

[5 rows x 12 columns]